[project]
	description = A simple COC management tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Levent A (ltheea)
[access "refs/for/refs/*"]
	read = group user/Levent A (ltheea)
	push = group user/Levent A (ltheea)
	label-Code-Review = -2..+2 group user/Levent A (ltheea)
	label-Verified = -1..+1 group user/Levent A (ltheea)
	rebase = group user/Levent A (ltheea)
	removeReviewer = group user/Levent A (ltheea)
	submit = group user/Levent A (ltheea)
[access "refs/heads/*"]
	read = group user/Levent A (ltheea)
	create = group user/Levent A (ltheea)
	push = +force group user/Levent A (ltheea)
	pushMerge = group user/Levent A (ltheea)
[access "refs/tags/*"]
	push = +force group user/Levent A (ltheea)
	pushTag = group user/Levent A (ltheea)
	pushSignedTag = group user/Levent A (ltheea)
